@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.nav-center{
    display: flex;
    justify-content: space-around;
    background-color: rgb(226, 248, 245);
    padding: 10px;
}

.nav-links{
    display: flex;
    align-items: flex-start;
    font-weight: bold;
}

li{
    list-style-type: none;
    margin-right: 10px;
}

a{
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h2 {
    background-color: black;
    display: inline-block;
    color: white;
    padding: 1rem;
    font-size: 2.5rem;
    border-radius: 0.5rem;
    margin-top: 19vh;
    letter-spacing: 0.3rem;
}



#btn{
    background-color: transparent;
    font-weight: bolder;
    font-size: 1rem;
    letter-spacing: 0.5rem;
    margin-top: 2rem;
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: .5rem;
    border: solid;
    text-transform: uppercase;
}

#btn:hover{
    background-color: black;
    color: white;
}

main{
    margin-top: 8rem;
}
    
@media screen and (max-width: 700px) {
    #btn{
        font-size: 0.8rem;
        letter-spacing: 0.3rem;
    }

    .container h2 {
        font-size: 2rem; 
        letter-spacing: 0.2rem;
    }
    
}
